.container {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrationLog {
    position: relative;
    width: 80vw;
    padding: 30px;
    border-radius: 12px;
    background: #343a40;
    color: antiquewhite;
}
@media screen and (min-width: 768px) {
    .registrationLog {
        width: 50vw;
        margin: 0 20%;
    }
}
@media screen and (min-width: 1372px) {
    .registrationLog {
        width: 30vw;
        margin: 0 25%;
    }
}