.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/Images/3.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.registrationLog {
    position: relative;
    width: 80vw;
    padding: 30px;
    border-radius: 12px;
    background: #343a40;
    color: antiquewhite;
}

@media screen and (min-width: 768px) {
    .registrationLog {
        width: 50vw;
        margin: 0 20%;
    }
}

@media screen and (min-width: 1372px) {
    .registrationLog {
        width: 30vw;
        margin: 0 25%;
    }
}