.menu {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 30vh;
    width: 100vw;
    background: #CAFFD0;
}

.dishes {
    height: 50%;
    width: 100%;
}

.photoMenu {
display: flex;
align-items: center;
}
.customImg {
    position: relative !important;
}

@media screen and (min-width: 768px) {
    .menu {
        flex-direction: row;
        height: 60vh;
    }

    .dishes .photoMenu {
        width: 50%;
        height: 100%;
    }

    .photoMenu {
        background-position: top;
    }
}