.menu {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 30vh;
    width: 100vw;
    background: #de9494;
}

.dishes {
    height: 50%;
    width: 100%;
}

.photoMenu {
    height: 30vh;
    width: 100%;
    background: url('/Images/1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (min-width: 768px) {
    .menu {
        flex-direction: row;
        height: 60vh;
    }

    .dishes {
        width: 50%;
        height: 100%;
    }

    .photoMenu {
        width: 50%;
        height: 100%;
        background-position: top;
    }
}