.loginContainer {

    background: #343a40;
    padding: 20px ;
    border-radius: 8px;
}
.loginContainer h2 {
    text-align: center;
    margin-bottom: 10px;
}
.loginContainer form input {
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
}

.connectionButtons {
    display: flex;
}
.registerButton {
    margin-left: 5px;
}


