.loginContainer {
    position: relative;
    color: antiquewhite;
}

.loginContainer h2 {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.loginContainer form {
    display: flex;
    flex-direction: column;
}

.loginContainer form label {
    margin-bottom: 6px;
}

.loginContainer form input {
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 3px 5px;
    font-size: 0.8em;
}

.connectionButtons {
 display: flex;
 justify-content: center;
 align-items: center;
}
.connectionButtons a{
    margin-right: 10px;
    margin-left: -25px;
   }
.registerButton {
    margin-left: 10px;
}
.connexionTrue{
    color: antiquewhite;
}