.openingContainer {
    margin-top: 4vh;
}
.openingTitle {
    font-size: 1.7rem;
    margin-bottom: 4vh;
}
.openingContainer p{
    margin-top: 1vh;
}
.openingContainerLunchAndDiner {
    display: flex;
}
.openingLunch{
    margin-right: 2vw;
}
.lunchContainer {
    display: flex;
}

.lunchDay {
    width: 5vw;
    margin-right: 1vw;
}
.lunchHour {
    width: 7vw;
    text-align: start;
}
@media screen and (min-width: 768px) {
    .openingContainer {
        margin-left: 4vh;
        margin-top: 0;
    }
}