.navBarContainer {
    position: fixed;
    width: 100vw;
    z-index: 1000;
    font-size: 1.3em;
}
.nav {
    display: flex;
    margin: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 0 10px;
}
.nav img {
    margin: auto
}

@media screen and (min-width: 460px){
    .navBarContainer {
        font-size: 1.1em;
        
    }
}

@media screen and (min-width: 768px){
    .navBarContainer {
        font-size: 1.3em;
    }
    .subNav {
        display: flex;
        align-items: center;
    }
    .subNav a {
        margin-right: 5vw;
    }
    
}