.container {
    background: #495057;
    min-height: 100vh;
    width: 100vw;
    padding: 5vw;
}

.customImg {
    object-fit: contain;
    width: 100%;
    position: relative !important;
    height: unset ;
    max-height: 40vh;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}
.pagination button {
    margin: 5px;
}