.contactContainer {
    text-align: center;
}
.contactTitle {
    font-size: 1.7em;
}
.contactDetails {
    font-size: 1.3rem;
}
.contactDetails p, .contactDetails div{
    margin-top: 1vh;
}
.contactDetails div a:hover {
    color: #fa9090;
}


@media screen and (min-width: 768px) {
    .contactContainer {
        margin-left: -10vw;
    }
    .contactTitle {
        font-size: 1.7rem;
        margin-bottom: 4vh;
    }
    .contactDetails {
        font-size: 1rem;
    }
}
@media screen and (min-width: 983px) {
    .contactContainer {
        margin-left: -15vw;
    }
    .contactDetails {
        font-size: 1.3rem;
    }
}