.loginContainer {
    position: relative;
    color: antiquewhite;
}

.loginContainer h2 {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.loginContainer form {
    display: flex;
    flex-direction: column;
}

.loginContainer form label {
    margin-bottom: 6px;
}

.loginContainer form input {
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 3px 5px;
    font-size: 0.8em;
}

.connectionButton {
    margin: auto;
}

.registerButton {
    margin:  15px auto;
}
.connexionTrue{
    color: antiquewhite;
}