.homePage {
  margin-top: -10px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/Images/2.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

.titleContainer button {
  margin-top: 10vh;
}

.title {
  position: absolute;
  width: auto;
  height: auto;
  margin-top: -20vh;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.9), -1px -1px rgba(0, 0, 0, 0.9), -1px 1px rgba(0, 0, 0, 0.9), 1px -1px rgba(0, 0, 0, 0.9);
  color: #f5f5f5;
  font-size: 2rem;
  font-family: 'Bitter', serif;
  font-weight: bold;
  text-align: center;
  top: -50%;
  opacity: 0;
}

.titleSpan {
  font-size: 2.8rem;

}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  min-height: 100vh;
  background: #CAFFD0;
}

.main p {
  margin-bottom: 0;
}


.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  background: #fffee4;
  color: #3F784C;
  padding: 30px 0;
}

.welcome p {
  width: 60%;
  font-size: 1.3em;
}

.aboutAndMenu {
  width: 100vw;
  height: 100vh;
}

.about {
  display: flex;
  flex-direction: column;
  background: #b04343;
  width: 100vw;
}

.description {
  height: auto;
  width: 100%;
  background: #C17817;
  color: #fffee4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 15px;
  text-align: center;
}

.photoAbout {
  background: #C17817;
}
.customImg {
  width: auto;
  position: relative !important;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .titleSpan {
    font-size: 4rem;
  }

  .welcome {
    height: 40vh;
  }

  .welcome p {
    font-size: 1em;
  }

  .about {
    flex-direction: row;
  }

  .description {
    width: 50%;
    padding: 8%;
    font-size: 1.1rem;
  }

  .photoAbout {
    width: 50%;
  
  }
}

@media screen and (min-width: 1000px) {
  .welcome {
    font-size: 2em;
  }

  .description {
    font-size: 1.2rem;
    padding: 10%;
  }

  .title {
    font-size: 4rem;
    margin-bottom: 2vh;
  }

  .titleSpan {
    font-size: 6rem;
  }
}

@media screen and (min-width: 1000px) {
  .titleContainer button {
    margin-top: 40vh;
  }
}

@media screen and (min-width: 1921px) {
  .description {
    font-size: 2rem;
  }

  .title {
    font-size: 6rem;
  }
  .titleContainer button {
    margin-top: 5vh;
  }
  .titleSpan {
    font-size: 8rem;
  }
}