.container {
    width: 100%;
    height: 100%;
    background: #edfcf0;
    overflow: auto;
}

.navbarMenu {
    width: 100%;
    display: flex;
}
.link, .activeButton {
    padding: 15px;
    text-align: center;
    width: 50%;
    background: #495057;
    border: none;
    font-size: 1.2em;
}
.link:hover, .activeButton {
    background: #edfcf0;
    font-size: 1.3em;
    color: #C17817;
}

.link {
    font-size: 1.2em;
    color: #fffee4;
}
.formulasDivContainer {
    height: 80%;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.formulasContainer {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formulas {
    display: flex;
    margin-bottom: 2vh;
    font-size: 1em;
    color: #C17817;
}
.formulasTitle {
    margin-right: 10px;
}
@media screen and (min-width: 768px) {
    .container{
        overflow: hidden;
    }
    .formulas {
        font-size: 1.6em;
    } 
    .formulasContainer {
        padding: 0;
    }
    .formulasDivContainer {
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
    }
}